<div class="new-meta-item date" itemprop="dateCreated datePublished">
  <a class='notlink'>
    <i class="<%- theme.article.body.meta_library.date.icon %> fa-fw" aria-hidden="true"></i>
    <p><%- theme.article.body.meta_library.date.title %><time class="dataToShow dt-published" datetime="<%- moment(post.date).format() %>" title="<%- date(post.date, theme.article.body.meta_library.updated.format) %>"><%- date(post.date, theme.article.body.meta_library.date.format) %></time></p>
  </a>
</div>
