<%
    var checkComment = true;
    if (page.comments && page.comments == false) {
      checkComment = false;
    }
%>
<% if (checkComment&&(theme.comments.service && theme.comments.service.length > 0)) { %>
  
  <article class="post white-box <%- theme.custom_css.body.effect.join(' ') %>" id="comments">
    <div class="changeComment">
      <div class="comment-headline">
    <span hidden>
      <meta itemprop="discussionUrl" content="<%- url_for(path) %>#comments">
    </span>
    <p ct><%- theme.comments && theme.comments.title %></p>
    <% if (theme.comments && theme.comments.subtitle) { %>
      <p cst><%- theme.comments.subtitle %></p>
    <% } %>
      </div>
      <div class="comment-switch">
        <% theme.comments.service.forEach(item=>{ %>
          <a href="javascript:void(0)" onclick="<%= item + 'set()' %>" style="margin-bottom:3px"><%= item %></a>
        <%})%>
      </div>
    </div>
    <% theme.comments.service.forEach(item=>{ %>
      <div id="<%= 'layoutHelper-' + item %>"></div>
    <%})%>
  </article>
  <script data-pjax>
    function hidecomment() {
        <% theme.comments.service.forEach(item=>{ %>
        document.getElementById('<%= 'layoutHelper-' + item %>').style.display = 'none';
        <%})%>
    }
    hidecomment()
    document.getElementById('<%= 'layoutHelper-' + theme.comments.service[0] %>').style.display = 'block';
    <% theme.comments.service.forEach(item=>{ %>
    function <%- item + 'set()' %> {
        hidecomment()
        document.getElementById('<%= 'layoutHelper-' + item %>').style.display = 'block';
    }
    <%})%>
  </script>
<% } else { %>
  <% page.comments = false; %>
<% } %>
