if theme.aside.card_author.enable
  .card-widget.card-info.h-card
    .is-center
      .avatar-img
        img.u-photo(src=url_for(theme.avatar.img) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt="avatar")
      .author-info__name.p-name= config.author
      .author-info__description.p-note!= theme.aside.card_author.description || config.description
      .card-info-data.site-data.is-center
        .card-info-data-item
          a(href=url_for(config.archive_dir) + '/')
            i.headline.fas.fa-cash-register
            .length-num= site.posts.length
        .card-info-data-item
          a(href=url_for(config.tag_dir) + '/')
            i.headline.fas.fa-tags
            .length-num= site.tags.length
        .card-info-data-item
          a(href=url_for(config.category_dir) + '/')
            i.headline.fas.fa-folder-open
            .length-num= site.categories.length
        .card-info-data-item
          a(href="/comments/")
            i.headline.fas.fa-comment
            .length-num.icat-pc-comment= _p('0')
  
    if(theme.social)
        .social-list
          !=fragment_cache('social', function(){return partial('includes/header/social')}) 
