#qexo-daodao
- var qexodaojs = "https://jsd.onmicrosoft.cn/gh/Uyoahz26/daodao@main/dist/qexo-dao.min.js"
if theme.CDN.qexo_daodao
  - qexodaojs = theme.CDN.qexo_daodao
script(charset="utf-8" src=`${qexodaojs}` type="text/javascript")
script.
  qexoDaodao
    ?.init({
      el: "#qexo-daodao",
      avatar: "!{theme.avatar.img}",
      name: "!{config.author}",
      limit: !{theme.essay.strip},
      fromColor: "#000000",
      useLoadingImg: false,
      baseURL: "!{theme.qexo.serverURL}",
      format: "yyyy年MM月dd日"
    })
    .then(function () {
      console.log("即刻短文加载成功")
    })