#rightMenu.js-pjax
    .rightMenu-group.rightMenu-small
        a.rightMenu-item(href="javascript:window.history.back();")
            i.fa.fa-arrow-left
        a.rightMenu-item(href="javascript:window.history.forward();")
            i.fa.fa-arrow-right
        a.rightMenu-item(href="javascript:window.location.reload();")
            i.fa.fa-refresh
        a.rightMenu-item(href="javascript:rmf.scrollToTop();")
            i.fa.fa-arrow-up
    .rightMenu-group.rightMenu-line.hide#menu-text
        a.rightMenu-item(href="javascript:rmf.copySelect();")
            i.fa.fa-copy
            span=_p('rightmenu.copy')
        a.rightMenu-item(href="javascript:window.open(\"https://www.bing.com/?q=\"+window.getSelection().toString());window.location.reload();")
            i.pj-historical.icon-pjh-bing
            span=_p('rightmenu.search_bing')
        a.rightMenu-item(href="javascript:rmf.searchinThisPage();")
            i.fas.fa-search
            span=_p('rightmenu.search')
        if theme.comments.use
            a.rightMenu-item(href="#post-comment" onclick="rmf.yinyong()")
                i.fa-solid.fa-message
                span=_p('rightmenu.quote')
    .rightMenu-group.rightMenu-line.hide#menu-too
        a.rightMenu-item(href="javascript:window.open(window.getSelection().toString());window.location.reload();")
            i.fa.fa-link
            span=_p('rightmenu.goto')
    .rightMenu-group.rightMenu-line.hide#menu-paste
        a.rightMenu-item(href='javascript:rmf.paste()')
            i.fa.fa-copy
            span=_p('rightmenu.paste')
    .rightMenu-group.rightMenu-line.hide#menu-post
        if theme.comments.use
            a.rightMenu-item(href="#post-comment")
                i.fas.fa-comment
                span=_p('rightmenu.airbone')
        a.rightMenu-item(href="javascript:rmf.copyWordsLink()")
            i.fa.fa-link
            span=_p('rightmenu.copylink')
    .rightMenu-group.rightMenu-line.hide#menu-to
        a.rightMenu-item(href="javascript:rmf.openWithNewTab()")
            i.fa.fa-window-restore
            span=_p('rightmenu.restore')
        a.rightMenu-item#menu-too(href="javascript:rmf.open()")
            i.fa.fa-link
            span=_p('rightmenu.goto')
        a.rightMenu-item(href="javascript:rmf.copyLink()")
            i.fa.fa-copy
            span=_p('rightmenu.copylink2')
    .rightMenu-group.rightMenu-line.hide#menu-img
        a.rightMenu-item(href="javascript:rmf.saveAs()")
            i.fa.fa-download
            span=_p('rightmenu.savepic')
        a.rightMenu-item(href="javascript:rmf.openWithNewTab()")
            i.fa.fa-window-restore
            span=_p('rightmenu.restore')
        a.rightMenu-item(href="javascript:rmf.click()")
            i.fa.fa-arrows-alt
            span=_p('rightmenu.fullpage')
        a.rightMenu-item(href="javascript:rmf.copyLink()")
            i.fa.fa-copy
            span=_p('rightmenu.copypicname')
    .rightMenu-group.rightMenu-line
        a.rightMenu-item(href="javascript:toRandomPost()")
            i.fa.fa-paper-plane
            span=_p('rightmenu.random')
        a.rightMenu-item(href="javascript:rmf.switchDarkMode();")
            i.fa.fa-moon
            span=_p('rightside.night_mode_title')
        if theme.translate.enable
            a.rightMenu-item(href="javascript:rmf.translate();")
                i.iconfont.icon-fanti
                span=_p('rightside.translate_title')
        if is_post()||is_page()
            a.rightMenu-item(href="javascript:rmf.switchReadMode();")
                i.fa.fa-book
                span=_p('rightside.readmode_title')
        a.rightMenu-item(href="javascript:toggleWinbox();")
            i.fas.fa-cog
            span=_p('rightside.setting')
        a.rightMenu-item(href="javascript:fullScreen();")
            i.fas.fa-expand
            span=_p('rightmenu.fullpage')