html
body
    #settingWindow.js-pjax
        span.setting-title
            button#backer(onclick='$(\'.asetting\').hide();$(\'.settingx\').show();$(\'#backer\').hide();$(\'#stt-style\').hide();$(\'#stt-font\').hide();$(\'#stt-background\').hide();$(\'#stt-count\').hide();$(\'#stt-about\').hide();')
                i.fa.fa-chevron-left
            span#stt= _p('settings.title')
            span#stt-style=' -> ' + _p('settings.site.title')
            span#stt-font=' -> ' + _p('settings.fonts.title')
            span#stt-background=' -> ' + _p('settings.backgrounds.title')
            span#stt-count=' -> ' + _p('settings.count.title')
            span#stt-about=' -> ' + _p('settings.about.title')
            a(id="close-console" onclick="toggleWinbox();") ×
        .settings
            #setting-buttons
                button.settingx(onclick='$(\'#theme-settings\').show();$(\'.settingx\').hide();$(\'#backer\').show();$(\'#stt-style\').show();')
                    i.fas.fa-layer-group
                    span=_p('settings.site.title')
                button.settingx(onclick='$(\'#font-settings\').show();$(\'.settingx\').hide();$(\'#backer\').show();$(\'#stt-font\').show();')
                    i.fa.fa-font
                    span=_p('settings.fonts.title')
                if theme.setting.background
                    button.settingx(onclick='$(\'#background-settings\').show();$(\'.settingx\').hide();$(\'#backer\').show();$(\'#stt-background\').show();')
                        i.far.fa-image
                        span=_p('settings.backgrounds.title')
                button.settingx(onclick='$(\'#con-echarts\').show();$(\'.settingx\').hide();$(\'#backer\').show();$(\'#stt-count\').show();var evt = document.createEvent("HTMLEvents");evt.initEvent("resize", false, false);window.dispatchEvent(evt);')
                    i.fas.fa-chart-pie
                    span=_p('settings.count.title')
                button.settingx(onclick='$(\'#con-abouts\').show();$(\'.settingx\').hide();$(\'#backer\').show();$(\'#stt-about\').show();')
                    i.fa.fa-cloud-download
                    span=_p('settings.about.title')
            #setting-hides
                #theme-settings.asetting
                    h2.content-head=_p('settings.site.title')
                    p
                        .content(style='display:flex')
                            input#blur(type='checkbox', onclick='setBlur()')
                            .content-text=_p('settings.site.blur')
                        //- .content(style='display:flex')
                        //-     input#yjjs(type='checkbox', onclick='yjjs1()')
                        //-     .content-text 硬件加速
                        .content(style='display:flex')
                            input#fpson(type='checkbox', onclick='fpssw()' style="flex-shrink: 0")
                            .content-text
                                span!=_p('settings.site.fps')
                    p
                        h2.content-head=_p('settings.site.theme')
                        //- .content(style='display:flex')
                        //-     input#hideAside(type='checkbox', onclick='toggleRightside()')
                        //-     .content-text 隐藏侧边栏
                        if theme.setting.player.enable
                            .content(style='display:flex')
                                input#hideAplayer(type='checkbox', onclick='toggleAplayer()')
                                .content-text
                                    span=_p('settings.site.music')
                        .content(style='display:flex')
                            input#hideSakura(type='checkbox', onclick='toggleSakuras()')
                            .content-text=_p('settings.site.sakura')
                        .content(style='display:flex')
                            input#autoTheme(type='checkbox', onclick='toggleAutoTheme()')
                            .content-text=_p('settings.site.dark')

                    p
                        h3.content-head=_p('settings.site.color.title')
                        #themeColorSettings.content(style='display:flex')
                            input#default(type='radio', name='colors', onclick='setColor(\'default\')', checked)
                            span#deftext=_p('settings.site.color.default')
                            input#red(type='radio', name='colors', onclick='setColor(\'red\')')
                            input#orange(type='radio', name='colors', onclick='setColor(\'orange\')')
                            input#yellow(type='radio', name='colors', onclick='setColor(\'yellow\')')
                            input#green(type='radio', name='colors', onclick='setColor(\'green\')')
                            input#blue(type='radio', name='colors', onclick='setColor(\'blue\')')
                            input#heoblue(type='radio', name='colors', onclick='setColor(\'heoblue\')')
                            input#darkblue(type='radio', name='colors', onclick='setColor(\'darkblue\')')
                            input#purple(type='radio', name='colors', onclick='setColor(\'purple\')')
                            input#pink(type='radio', name='colors', onclick='setColor(\'pink\')')
                            input#black(type='radio', name='colors', onclick='setColor(\'black\')')
                            input#blackgray(type='radio', name='colors', onclick='setColor(\'blackgray\')')
                #font-settings.asetting
                    h2.content-head=_p('settings.fonts.title')
                    p#swfs
                        a.swf(href='javascript:;', rel='noopener external nofollow', style='font-family:\'HYTMR\'!important;color:black', onclick='setFont(\'HYTMR\')') 汉仪唐美人
                        br
                        a.swf(href='javascript:;', rel='noopener external nofollow', style='font-family:\'HYPailou\'!important;color:black', onclick='setFont(\'HYPailou\')') 汉仪新蒂牌楼
                        br
                        a.swf(href='javascript:;', rel='noopener external nofollow', style='font-family:\'FZXJLJ\'!important;color:black', onclick='setFont(\'FZXJLJ\')') 方正金陵体
                        br
                        a.swf(href='javascript:;', rel='noopener external nofollow', style='font-family:\'FZXS\'!important;color:black', onclick='setFont(\'FZXS\')') 方正像素体
                        br
                        a.swf(href='javascript:;', rel='noopener external nofollow', style='font-family:\'ZhuZiAWan\'!important;color:black', onclick='setFont(\'ZhuZiAWan\')') 筑紫A丸ゴシック
                        br
                        a.swf(href='javascript:;', rel='noopener external nofollow', style='font-family:\'FZODZK\'!important;color:black', onclick='setFont(\'FZODZK\')') 方正欧蝶正楷
                        br
                        a.swf(href='javascript:;', rel='noopener external nofollow', style='font-family:\'Source Serif\'!important;color:black', onclick='setFont(\'Source Serif\')') 思源宋体
                        br
                        a.swf(href='javascript:;', rel='noopener external nofollow', style='font-family:\'Source Sans\'!important;color:black', onclick='setFont(\'Source Sans\')') 思源黑体
                        br
                        a.swf(href='javascript:;', rel='noopener external nofollow', style='font-family:\'HMOSANS\'!important;color:black', onclick='setFont(\'HMOSANS\')') HarmonyOS Sans
                        br
                        a.swf(href='javascript:;', rel='noopener external nofollow', style='font-family:-apple-system, IBM Plex Mono ,monosapce,\'微软雅黑\', sans-serif;', onclick='setFont(\'main\')') 系统默认
                        br
                if theme.background && theme.setting.background && site.data.backgrounds
                    #background-settings.asetting
                        h2(style='margin-left:10px')=_p('settings.backgrounds.title')
                        div
                        button.content-button(onclick='localStorage.removeItem(\'blogbg\');location.reload();')
                            i.fa-solid.fa-arrows-rotate
                            span=_p('settings.backgrounds.default')
                        each bgs in site.data.backgrounds
                            if bgs.set === 'pe'
                                .bg-mobi
                                    h3=bgs.title
                                    .bgbox
                                        if bgs.type === 'image'
                                            each bg in bgs.backgrounds
                                                a.pimgbox(href='javascript:;', rel='noopener external nofollow', style='background-image:url(' + bg + ')', onclick='changeBg(\'url(' + bg + ')\')')
                                        else if bgs.type === 'color'
                                            each bg in bgs.backgrounds
                                                a.box(href='javascript:;', rel='noopener external nofollow', style='background: ' + bg, onclick='changeBg(' + bg + ')')
                            else if bgs.set === 'pc'
                                .bg-pc
                                    h3=bgs.title
                                    .bgbox
                                        if bgs.type === 'image'
                                            each bg in bgs.backgrounds
                                                a.imgbox(href='javascript:;', onclick='changeBg(\'url(' + bg + ')\')')
                                                    img(src=bg)
                                        else if bgs.type === 'color'
                                            each bg in bgs.backgrounds
                                                a.box(href='javascript:;', rel='noopener external nofollow', style='background: ' + bg, onclick='changeBg(' + bg + ')')
                            else if bgs.set === 'both'
                                .bg
                                    h3=bgs.title
                                    .bgbox
                                        if bgs.type === 'image'
                                            each bg in bgs.backgrounds
                                                a.imgbox(href='javascript:;', onclick='changeBg(\'url(' + bg + ')\')')
                                                    img(src=bg)
                                        else if bgs.type === 'color'
                                            each bg in bgs.backgrounds
                                                a.box(href='javascript:;', rel='noopener external nofollow', style='background: ' + bg, onclick='changeBg(' + bg + ')')
                #con-echarts.asetting
                    h1 统计
                    img(src='https://moe.counter.blog.sinzmise.top/sznhouse?theme=asoul')
                    if !is_page()
                        h2 文章统计
                        div(id="posts-chart" data-start="2021-01" style="border-radius: 8px; height: 300px; padding: 10px;")
                        div(id="tags-chart" data-length="10" style="border-radius: 8px; height: 300px; padding: 10px;")
                        div(id="categories-chart" data-parent="true" style="border-radius: 8px; height: 300px; padding: 10px;")
                    h2 访问统计 显示不出来请刷新页面
                    p 站点访问量:
                        span#qexo-site-pv
                    p 站点访客数:
                        span#qexo-site-uv
                    if is_page()
                        p 页面访问量:
                            span#qexo-page-pv
                    if theme.qexo.enable && theme.qexo.serverURL
                        script(src=url_for(theme.asset.qexo_daodao))
                        script.
                            loadStatistic("!{theme.qexo.serverURL}")

                #con-abouts.asetting
                    h1 关于
                    | 基于 Ariasaka Console v1.0 魔改，目前功能尚未完善
                    br
                    | 欢迎
                    a(href="/comments")
                        | 反馈！
        #app-refresh-setting.app-refresh(style='display:none')
            .app-refresh-wrap
                label 检测到魔法屋已装修
                a(href='javascript:void(0)' onclick='location.reload(true);')
                    span(style='text-decoration: underline;cursor: pointer;float: right;') 点我查看
        #setting-sidesl
            button(title="恢复默认设置" class="reSettings con-rightside")
                i.fa.fa-repeat
            #setting-sides
                button(title="繁简转换" class="con-rightside" id="con-translate"  onclick="javascript:rmf.translate();")
                    i.iconfont.icon-fanti
                button(title="昼夜切换" class="con-rightside" id="con-mode" onclick="switchDarkMode();")
                    i.fa.fa-adjust
                if is_post()||is_page()
                    button(title="阅读模式" class="con-rightside" id="con-reading" onclick="rmf.switchReadMode();")
                        i.fa.fa-book-open
                if !is_page()
                    button(title="单双栏切换" class="con-rightside" id="con-toggleaside" onclick="toggleAside();")
                        i.fas.fa-arrows-alt-h
                if !is_page()
                    button(title="左右栏切换" class="con-rightside" id="con-toggleleftaside" onclick="switchAside();")
                        i.fas.fa-binoculars
                button(title="全屏" class="con-rightside" id="con-fullscreen" onclick="fullScreen();")
                    i.fas.fa-expand
