#icat-about-page
    .Personal-Introduction
        .PI-box-left
            .title=_p('about.introduction.hello')
            .title=_p('about.introduction.iam',config.author)
            .describe=theme.about.Personal_Introduction.describe
            span.describe-tips=theme.about.Personal_Introduction.tips
            .PI-button
                a(href="#one")=_p('about.introduction.aboutme')
                a(href="#two")=_p('about.introduction.aboutsite')
        .PI-box-right
            .PI-img
                img(src=theme.about.Personal_Introduction.image)

    .about-layout.Personal-Introduction-bar
        .bar-box
            span.tips=_p('about.introduction_bar.born')
            .title(style="color:#43a6c6")=theme.about.Personal_Introduction.bar.year
        .bar-box
            span.tips=_p('about.introduction_bar.constellation')
            .title(style="color:#c69043")=theme.about.Personal_Introduction.bar.constellation
        .bar-box
            span.tips=_p('about.introduction_bar.hobby')
            .title(style="color:#d44040")=theme.about.Personal_Introduction.bar.hobby
        .bar-box
            span.tips=_p('about.introduction_bar.career')
            .title(style="color:#b04fe6")=theme.about.Personal_Introduction.bar.career

    #one
        .about-layout.width.photo
        .about-layout.width.map
            span=_p('about.one_layout.living')
                p=theme.about.map
        .width.h1-box
            .box-top
                .top
                    span 01
                    .title-h1=_p('about.one_layout.aboutme')
            .about-layout.box-bottom(onclick="meuicat.Introduction()")
                span#Introduction=config.author

    .Philosophical
        .about-layout.P-box-left
            .tips=_p('about.one_layout.mbti.mbti')
            .title=theme.about.Philosophical.title
            .title(style="color:#56a178")=theme.about.Philosophical.referred_to_as
            .image
                img(src=theme.about.Philosophical.image)
            .tips-bottom!=_p('about.one_layout.mbti.learn', theme.about.Philosophical.link, theme.about.Philosophical.title)

        .about-layout.P-box-right
            .tips=_p('about.one_layout.motto')
            span.title(style="opacity:.6;margin-bottom: 8px")=theme.about.Philosophical.motto_one
            span.title=theme.about.Philosophical.motto_two
            .tips-bottom=theme.about.Philosophical.motto_tips

    .about-layout.Socialize
        .tips=_p('about.one_layout.account.myaccount')
        .title=_p('about.one_layout.account.social')
        .S-box
            each url, icon in theme.about.Account_number
                a.btn-layout(href=url_for(trim(url.split('||')[0])) target="_blank")=icon
        .S-img
            .img-box

    #two
        .h1-box
            .box-top
                .top
                    span 02
                    .title-h1=_p('about.two_layout.about')
            .about-layout.box-bottom
                span#run-time=_p('about.two_layout.runtime')
        .information
            .about-layout.Version
                .V-box
                    .title Hexo
                    .tips-v v4.9.0
                .V-box
                    .title Butterfly
                    .tips-v v6.3.0
                .V-box
                    .title CetaStories
                    .tips-v#ui-version

            .about-layout.Statistics
                span= _p('about.two_layout.statistics.articles', site.posts.length)
                span.N_comments= _p('about.two_layout.statistics.comments', site.posts.length)
                span= _p('about.two_layout.statistics.tags', site.tags.length)
                span= _p('about.two_layout.statistics.totalcounts', totalcount(site))

    .data
        .about-layout.statistic
            .tips=_p('about.stats.tips')
            .title=_p('about.stats.title')
            #statistic
            .tips-bottom
                .T-box!=_p('about.stats.tip.box', theme.LA.ck)
                a.T-btn(href="/charts/" target="_blank")= _p('about.stats.tip.btn')

        .about-layout.union
            .tips=_p('about.union.tips')
            .title=_p('about.union.title')
            .U-box
                each url, icon in theme.about.Union
                    a.btn-layout(href=url_for(trim(url.split('||')[0])) target="_blank")=icon

    .about-layout.content
        .tips=_p('about.content.tips')
        .title=_p('about.content.title')
        != page.content
