#memobbs
    #memos
    #memo-list
link(href=`${theme.asset.artalk_css}` rel="stylesheet")
link(href=`${theme.bbs_cdn.memos_css}` rel="stylesheet")
link(href=`${theme.bbs_cdn.grid}` rel="stylesheet")
script(src=`${theme.asset.twikoo}`)
script(src=`${theme.asset.artalk_js}`)
script(src=`${theme.bbs_cdn.memos_js}`)
script(src=`${theme.asset.marked}`)
script(src=`${theme.asset.lozad}`)