- const { serverURLs, option } = theme.discuss
- const { lazyload, use } = theme.comments

script.
    function loadDiscuss () {
        function initDiscuss () {
            const Discuss = discuss.init(Object.assign({
                el: '#Discuss-Wrap',
                serverURLs: '!{serverURLs}',
                path: window.location.pathname,
            }, !{JSON.stringify(option)}))
        }

        if (typeof discuss === 'object') initDiscuss()
        else {
            getScript('!{url_for(theme.asset.Discuss_js)}').then(initDiscuss)
        }
    }

    if ('!{use[0]}' === 'Discuss' || !!{lazyload}) {
        if (!{lazyload}) btf.loadComment(document.getElementById('Discuss-Wrap'),loadDiscuss)
        else setTimeout(loadDiscuss, 0)
    } else {
        function loadOtherComment () {
            loadDiscuss()
        }
    }


