<%- partial('_pre') %>
<section class="widget <%- item.class %>-cus <%- page.widget_platform %> <%- page.widget_pjax %>">
  <%- partial('header', {item: item}) %>
  <div class="tabs" id="tab-widget-artalk">
    <ul class="nav-tabs">
      <li class="tab">
        <a class="#widget-artalk-hotarticle" title="热门文章">
          <i class="fa-light fa-thumbs-up WISTERIA fa-fw" aria-hidden="true"></i>
        </a>
      </li>
      <li class="tab active">
        <a class="#widget-artalk-hotcomment" title="最新评论">
          <i class="fa-light fa-comment WISTERIA fa-fw" aria-hidden="true"></i>
        </a>
      </li>
      <li class="tab">
        <a class="#widget-artalk-randpages" title="随机文章">
          <i class="fa-light fa-shuffle WISTERIA fa-fw" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane tab-artalk-line" id="widget-artalk-hotarticle">
        <p>———<span>热门文章</span>———</p>
        <div class="tab-pane-content">
          <i class="fa-light fa-loader fa-spin fa-fw" aria-hidden="true"></i>
        </div>
      </div>
      <div class="tab-pane tab-artalk-comment active" id="widget-artalk-hotcomment">
        <p>———<span>最新评论</span>———</p>
        <div class="tab-pane-content">
          <i class="fa-light fa-loader fa-spin fa-fw" aria-hidden="true"></i>
        </div>
      </div>
      <div class="tab-pane tab-artalk-line" id="widget-artalk-randpages">
        <p>———<span>随机文章</span>———</p>
        <div class="tab-pane-content">
          <i class="fa-light fa-loader fa-spin fa-fw" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</section>