<% if (item.header) { %>
  <header>
    <% if (item.header.url) { %>
      <a href='<%- item.header.url %>'>
        <span class="icon"><i class="<%- item.header.icon %> fa-fw" aria-hidden="true"></i></span>
        <span class='name'><%- item.header.title %></span>
      </a>
    <% } else { %>
      <span class="icon"><i class="<%- item.header.icon %> fa-fw" aria-hidden="true"></i></span>
      <span class='name'><%- item.header.title %></span>
    <% } %>
  </header>
<% } %>
