
<%- partial('_pre') %>
<section class="widget <%- item.class %> <%- page.widget_platform %> <%- page.widget_pjax %>">
  <div class="site-brand-wrapper">
    <div class="site-meta ">
      <a href="/" class="brand" rel="start">
        <span class="site-title"><%- config.title %></span>
      </a>
      <p class="site-subtitle" itemprop="description"><%- config.subtitle %></p>
    </div>
    <div class="site-nav-toggle">
      <button aria-label="切换导航栏">
        <span class="btn-bar"></span>
        <span class="btn-bar"></span>
        <span class="btn-bar"></span>
      </button>
    </div>
  </div>
  <nav class="site-nav">
    <ul class="next-main">
      <% theme.nextNavbar.menu.forEach(value => { %>
        <li class="next-main-item">
          <a 
          <%- value.url ? `href="` + url_for(value.url) + `" title="` + (value.description || value.name) + `"`
                        : ` href="/" onclick="return false;" title="` + (value.description || value.name) + `"` %>
          <% if (value.url) { %>
            active-action="action-<%= url_for(value.url).replace(/\/|%|\./g, "")?url_for(value.url).replace(/\/|%|\./g, ""):"home" %>"
          <% } %>
          <% if (value.rel) { %>
            rel="<%- value.rel %>"
          <% } %>
          <% if (value.target) { %>
            target="<%- value.target %>"
          <% } %>
          <% if (value.click) { %>
            onClick="<%- value.click %>"
          <% } %>
          >
          <% if (value.icon) { %>
            <i class="menu-item-icon <%- value.icon %> fa-fw"></i>
          <% } %>
          <%- value.name %>
        </a>
        </li>
      <% }) %>
    </ul>
  </nav>
</section>